{% extends "base.html" %} {% block content %}
<br />
<h1 style="text-align: center">Lore</h1>
<br />
<div class="card">
  <div class="card-header"><h3>Escrever nova lore:</h3></div>
  <div class="card-body">
    <form
      action="{{url_for('personagens')}}"
      method="post"
      class="form form-group"
    >
      <label for="lore" style="margin-bottom: 5px">Lore:</label><br />
      <textarea name="lore" id="lore" class="form-control"></textarea><br />
      <input type="submit" value="Enviar" class="btn btn-danger" />
    </form>
  </div>
</div>
<br />
<br />
{% for i in person %}
<div class="card">
  <div class="card-header">Lore</div>
  <div class="card-body">
    <p>{{i}}</p>
  </div>
</div>
<br />
{% endfor %}
<script>
  document.title = "Criação de Lore";
</script>

{% endblock content %}
